<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<add key="goodstring" value="wyatt"/>
		<add key="emptystring" value=""/>

		<add key="goodint" value="42"/>
		<add key="badint" value="angie"/>
		<add key="emptyint" value=""/>

		<add key="gooddouble" value="4.56"/>
		<add key="baddouble" value="charlie"/>
		<add key="emptydouble" value=""/>

		<add key="truebool" value="True"/>
		<add key="falsebool" value="False"/>
		<add key="badbool" value="martha"/>
		<add key="emptybool" value=""/>
	</appSettings>
</configuration>